<section class="post-section">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-lg-8 mx-auto">
            <div class="o-content">
               <h1>
                  <span><strong>Autor:</strong> Tomáš Vaněček</span>
                  Krpálek po triumfu na EC Lignano: ,,trenér říkal, že má radost
               </h1>
               <div class="mb-10">
                  <figure>
                     <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                  </figure>
               </div>
               <p class="perex">
                  Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. 
               </p>
               <p>
                  Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
               </p>
              
            </div>
             <q>
               <h2 class="h3">
                  Hráčský kádr a vliv financí
               </h2>
               <p>
                  „Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn.“
               </p>
            </q>
            <div class="row mb-lg-10 mb-0 gx-lg-10">
               <div class="col-12 col-lg-3">
                  <img class="post-section__img" src="images/content/1-top.jpeg" loading="lazy" alt="" />
               </div>
               <div class="col-12 col-lg-9">
                  <p class="p1">
                      Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
                  </p>
               </div>
            </div>
             <div class="row mb-lg-10 mb-0 gx-lg-10">
               <div class="col-lg-9 col-12">
                  <p class="p1">
                      Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
                  </p>
               </div>
                <div class="col-lg-3 col-12">
                  <img class="post-section__img" src="images/content/2-top.jpeg" loading="lazy" alt="" />
               </div>
            </div>
            <div class="o-content">
               <h3>Související dokumenty</h3>
               <table>
                  <thead>
                     <tr>
                        <th>Datum</th>
                        <th>Název</th>
                        <th>Ke stažení</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                      <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                      <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                      <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                      <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                      <tr>
                        <td><strong>14.4.2019</strong></td>
                        <td>Maintain Your Pc S Performance With Pc Programs</td>
                        <td><a href="#" download>Stáhnout (49 kB)</a> </td>
                     </tr>
                  </tbody>
               </table>
                <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                <p>
                  Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
                </p>
                <h3>Odrážky</h3>
                <ul>
                  <li>Carlos Newman</li>
                  <li>Carlos Newman</li>
                  <li>Carlos Newman</li>
                  <li>Carlos Newman</li>
                  <li><a href="#">Gordon Morrison</a> </li>
                </ul>
            </div>
            <div class="row mb-md-10 mb-5  g-sm-8 g-4">
               <div class="col-md-3 col-sm-4 col-12">
                  <div class="post-section__player">
                     <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                     <h4 class="h5">Peter Bondra</h4>
                     <span>Obránce</span>
                  </div>
               </div>
               <div class="col-md-9 col-sm-8 col-12">
                  <p class="p1">
                      Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
                  </p>
               </div>
            </div>
            <div class="row mb-md-10 mb-5 g-sm-8 g-4 flex-sm-row-reverse ">
               <div class="col-md-3 col-sm-4 col-12">
                  <div class="post-section__player">
                     <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                     <h4 class="h5">Peter Bondra</h4>
                     <span>Obránce</span>
                  </div>
               </div>
               <div class="col-md-9 col-sm-8 col-12">
                  <p class="p1">
                      Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu stanul Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky. Po svolání mimořádné valné hromady totiž rezignoval dlouholetý předseda Pavel Blaha, jemuž většina krajských funkcionářů vyčítala, že v hlasování podpořil českou komoru, která získala ve výkonném výboru fotbalové asociace o další křeslo navíc. …
                  </p>
               </div>
            </div>
            <div class="post-section__gallery mb-10">
               <div class="o-content">
                  <h3>Fotogalerie</h3>
                  <div class="row js-gallery gx-xl-10">
                     <div class="col-12">
                        <figure>
                           <a href="images/content/1-top.jpeg" data-size="1024x1024">
                              <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                              <span>
                                 39. kolo Topligy (Foto: Josef Poláček)
                              </span>
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="images/content/2-top.jpeg" data-size="1024x1024">
                              <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                              <img src="https://via.placeholder.com/120x98" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                              <img src="https://via.placeholder.com/120x98" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                              <img src="https://via.placeholder.com/120x98" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                              <img src="https://via.placeholder.com/120x98" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     <div class="col-md-2 col-4">
                        <figure>
                           <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                           <img src="https://via.placeholder.com/120x98" loading="lazy" alt="" />
                           </a>
                        </figure>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>