.partners-slider{
   padding: 100px 0;
   @include media-breakpoint-down(lg){
      padding: 60px 0;
   }
   &__inner{
      display: flex;
      justify-content: center;
      .slick-list {
         width: 100% !important;
       }
       .slick-slide {
         width: 100% !important;
       }
       .slick-track {
         display: flex;
         justify-content: space-around;
       }
   }
   &__item{
      height: 69px;
      display: block;
      max-width: 144px;
      img{
         width: 100%;
         height: 100%;
      }
   }
}
