<section class="c-player-section">
   <div class="c-player-section__img">
      <div class="c-player-section__title">
         <h1 class="h1">
            #Miroslav SOLAR
         </h1>
      </div>
      <img src="/images/content/solar.jpeg" alt="">
   </div>
   <ul class="top-players__list d-flex mb-6">
      <li class="top-players__list-item">
         NAROZEN
         <span>22.9.1990</span>
      </li>
      <li class="top-players__list-item">
         VÝŠKA
         <span>181 CM</span>
      </li>
      <li class="top-players__list-item">
         VÁHA
         <span>96 KG</span>
      </li>
      <li class="top-players__list-item">
         POST
         <span>BRANKÁŘ</span>
      </li>
      <li class="top-players__list-item">
         HŮL
         <span>LEVÁ</span>
      </li>
   </ul>
</section>