<a href="#" class="match">
   <div class="match__logo">
      <img src="images/content/logo.png" alt="">
   </div>
   <div class="match__info">
      <p class="p2 mb-3">So 21. 12. 2021, 12:00</p>
      <h2 class="h4">TJ Snack Dobřany</h2>
      <h2 class="h4">HBC Hradec Králové</h2>
   </div>
   <div class="match__result win h2">
      3:6
   </div>
</a>