<section class="statistics">
   <div class="container">
      <div class="tabs-wrapper">
         {% include "@components/tabs/tabs.twig" %}
         <div class="tab-content tab-active" id="muzi">
            {% include "@components/matchesboard/matchesboard.twig" %}
            {% include "@components/hp-statistics-tab/hp-statistics-tab.twig" %}
         </div>
         <div class="tab-content" id="zeny">
            {% include "@components/matchesboard/matchesboard.twig" %}
            {% include "@components/hp-statistics-tab/hp-statistics-tab.twig" %}
         </div>
         <div class="tab-content" id="dorost">
            {% include "@components/matchesboard/matchesboard.twig" %}
            {% include "@components/hp-statistics-tab/hp-statistics-tab.twig" %}
         </div>
      </div>
   </div>
</section>