 <ul class="tabs mb-6">
   <li>
      <a href="#" class="tab active" data-id="muzi">Muži</a>
   </li>
   <li>
      <a href="#" class="tab " data-id="zeny">Junioři</a>
   </li>
   <li>
      <a href="#" class="tab " data-id="dorost">Dorost</a>
   </li>
</ul>