<section class="matchesboard">
   <div class="container">
      <div class="row">
         <div class="col-12 col-lg-4 mb-5">
            <a href="#" class="matchesboard__item">
               <div class="matchesboard__logo">
                  <img src="images/content/logo-hk.png" alt="">
               </div>
               <div class="matchesboard__info">
                  <p class="p2 mb-3">So 21. 12. 2021, 12:00</p>
                  <h2 class="h4">TJ Snack Dobřany</h2>
                  <h2 class="h4">HBC Hradec Králové</h2>
               </div>
               <div class="matchesboard__result win h2">
                  3:6
               </div>
            </a>
         </div>
         <div class="col-12 col-lg-4 mb-5">
            <a href="#" class="matchesboard__item">
               <div class="matchesboard__logo">
                  <img src="images/content/logo-hk.png" alt="">
               </div>
               <div class="matchesboard__info">
                  <p class="p2 mb-3">So 21. 12. 2021, 12:00</p>
                  <h2 class="h4">TJ Snack Dobřany</h2>
                  <h2 class="h4">HBC Hradec Králové</h2>
               </div>
               <div class="matchesboard__result lose h2">
                  6:3
               </div>
            </a>
         </div>
         <div class="col-12 col-lg-4 mb-5">
             <a href="#" class="matchesboard__item">
               <div class="matchesboard__logo">
                  <img src="images/content/logo-hk.png" alt="">
               </div>
               <div class="matchesboard__info">
                  <p class="p2 mb-3">So 21. 12. 2021, 12:00</p>
                  <h2 class="h4">TJ Snack Dobřany</h2>
                  <h2 class="h4">HBC Hradec Králové</h2>
               </div>
               <div class="matchesboard__result  h2">
                  -:-
               </div>
            </a>
         </div>
      </div>
      <a href="#" class="link">Rozpis zápasů</a>
   </div>
</section>