<section class="c-team-section col-xl-8">
      <h1 class="h1 mb-md-8 mb-4">SOUPISKA - 2021/2022</h1>
      <div class="tabs-wrapper">
         {% include "@components/tabs/tabs-2.twig" %}
         <div class="tab-content " id="table-soupiska">
            <div class="o-content">
               <table>
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>post</th>
                        <th>jméno</th>
                        <th>narozen</th>
                        <th>věk</th>
                        <th>výška</th>
                        <th>váha</th>
                        <th>hůl</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                      <tr>
                        <td>8</td>
                        <td>B</td>
                        <td>Miroslav Solar</td>
                        <td>3.4.2000</td>
                        <td>18 let</td>
                        <td>181 cm</td>
                        <td>79 kg</td>
                        <td>L</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
          <div class="tab-content tab-active " id="foto-soupiska">
            <h2 class="h2">Brankáři</h2>
            <ul class="row g-10">
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
            </ul>
             <h2 class="h2">OBRÁNCI</h2>
            <ul class="row g-10">
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
            </ul>
             <h2 class="h2">ÚTOČNÍCI</h2>
            <ul class="row g-10">
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
               <li class="col-lg-6 col-sm-6 c-team-section__item">
                  <a href="#" class="c-team-section__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="">
                      <span class="c-team-section__number">8</span>
                  </a>
                  <div class="c-team-section__info">
                     <a href="#">
                        <h3 class="h3">Jméno Příjmení</h3>
                     </a>
                        <span>25 let / 198 cm / 98 kg</span>
                  </div>
               </li>
            </ul>
         </div>
      </div>
</section>