<aside class="aside col-xl-4 ">
   <div class="o-content">
      <h3>MUŽI A</h3>
      <ul>
         <li><a href="#">Soupiska</a> </li>
         <li><a href="#">Tabulka</a> </li>
         <li><a href="#">Zápasy a výsledky</a> </li>
         <li><a href="#">Statistiky</a> </li>
         <li><a href="#">Realizační tým</a> </li>
      </ul>
   </div>
   <div class="aside__ban">
      <figure>
         <a target="_blank" href="#" class=" d-block w-100 mb-4">
            <img class="w-100" src="https://via.placeholder.com/408x200" loading="lazy" alt="" />
         </a>
      </figure>
   </div>
   {% include "@components/post-article/post-article.twig" %}
   {% include "@components/post-article/post-article.twig" %}
</aside>