<section class="c-player-detail-section">
      <div class="tab-content tab-active" id="statistiky">
         <div class="o-content">
            <table>
               <thead>
                  <tr>
                     <th><a href="#">Sezóna</a></th>
                     <th><a href="#">Z</a></th>
                     <th><a href="#">V</a></th>
                     <th><a href="#">VP</a></th>
                     <th><a href="#">PP</a></th>
                     <th><a href="#">P</a></th>
                     <th><a href="#">B</a></th>
                     <th><a href="#">Skóre</a></th>
                     <th><a href="#">RG</a></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HBC Hradec Králové</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
                  <tr>
                     <td>HC Kert Park Praha</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>44</td>
                     <td>113:60</td>
                     <td>44</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="tab-content" id="fotogalerie">
         <div class="row js-gallery g-5 mb-8">
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="images/content/1-top.jpeg" data-size="1024x1024">
                     <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div> 
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="images/content/1-top.jpeg" data-size="1024x1024">
                     <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </a>
               </figure>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div> 
            <div class="col-md-3 col-sm-4 col-6">
               <figure>
                  <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                     <img src="https://via.placeholder.com/260x140" loading="lazy" alt="" />
                  </a>
               </figure>
            </div> 
         </div>
      </div>
      <div class="tab-content" id="clanky"> 
         <div class="row g-6">
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
               {% include "@components/post-article/post-article.twig" %}
            </div>
         </div>
      </div>
</section> 