<div class="row gx-6 c-statistics-section__inner">
   <div class="col-12 col-xl-4 mb-10">
      <div class="c-statistics-section__table">
         <h2 class="h3">
            Tabulka
         </h2>
         <div class="o-content">
            <table>
               <thead>
                  <tr>
                     <th>Poř.</th>
                     <th>Tým</th>
                     <th>Z</th>
                     <th>Skóre</th>
                     <th>B</th>
                  </tr>
               </thead>              
               <tbody>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">HBC Pardubice</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>2.</td>
                     <td><a href="#">HC Kert Park Praha</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">SK Hokejbal Letohrad</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">HBC Pardubice</a> </td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>2.</td>
                     <td><a href="#">HC Kert Park Praha</a> </td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">SK Hokejbal Letohrad</a> </td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">HBC Pardubice</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>2.</td>
                     <td><a href="#">HC Kert Park Praha</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">SK Hokejbal Letohrad</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr class="team">
                     <td>1.</td>
                     <td><a href="#">HBC Hradec Králové</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>2.</td>
                     <td><a href="#">HC Kert Park Praha</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
                  <tr>
                     <td>1.</td>
                     <td><a href="#">SK Hokejbal Letohrad</a></td>
                     <td>14</td>
                     <td>63:33</td>
                     <td>30</td>
                  </tr>
               </tbody>
            </table> 
         </div>           
         <a href="#" class="link">Kompletní tabulka</a>
      </div>
   </div>
   <div class="col-12 col-lg-6 col-xl-4 mb-10">
      <div class="top-players">
         <h2 class="h3 ps-2">Nejlepší střelci</h2>
         <div class="d-flex align-items-end pt-1 mb-4 px-2">
            <div class="me-3 top-players__biglogo rounded-circle overflow-hidden">
               <img src="https://via.placeholder.com/80x80" loading="lazy" alt="" />
            </div>
            <div class="">
               <p>Útočník</p>
               <h3 class="h4">
                  <a href="#">
                     Samuel 
                     <br>
                     Kucharčík
                  </a> 
               </h3>
            </div>
         </div>
         <ul class="top-players__list d-flex mb-6">
            <li class="top-players__list-item">
               Z
               <span>13</span>
            </li>
            <li class="top-players__list-item">
               G
               <span>13</span>
            </li>
               <li class="top-players__list-item">
               A
               <span>13</span>
            </li>
            <li class="top-players__list-item">
               B
               <span>13</span>
            </li>
         </ul>
         <div class="d-flex align-items-end py-4 border-bottom px-2">
            <div class="me-3 top-players__logo rounded-circle overflow-hidden">
               <img src="https://via.placeholder.com/50x50" loading="lazy" alt="" />
            </div>
            <div class="">
               <p>Útočník</p>
               <h3 class="h4">
                  <a href="#">
                     Samuel 
                     Kucharčík
                  </a> 
               </h3>
            </div>
            <div class="top-players__num">13</div>
         </div>
         <div class="d-flex align-items-end py-4 border-bottom px-2">
            <div class="me-3 top-players__logo rounded-circle overflow-hidden">
               <img src="https://via.placeholder.com/50x50" loading="lazy" alt="" />
            </div>
            <div class="">
               <p>Útočník</p>
               <h3 class="h4">
                  <a href="#">
                     Samuel 
                     Kucharčík
                  </a> 
               </h3>
            </div>
            <div class="top-players__num">13</div>
         </div>
         <div class="d-flex align-items-end py-4 border-bottom px-2">
            <div class="me-3 top-players__logo rounded-circle overflow-hidden">
               <img src="https://via.placeholder.com/50x50" loading="lazy" alt="" />
            </div>
            <div class="">
               <p>Útočník</p>
               <h3 class="h4">
                  <a href="#">
                     Samuel 
                     Kucharčík
                  </a> 
               </h3>
            </div>
            <div class="top-players__num">13</div>
         </div>
         <div class="d-flex align-items-end px-2 py-4 border-bottom">
            <div class="me-3 top-players__logo rounded-circle overflow-hidden">
               <img src="https://via.placeholder.com/50x50" loading="lazy" alt="" />
            </div>
            <div class="">
               <p>Útočník</p>
               <h3 class="h4">
                  <a href="#">
                     Samuel 
                     Kucharčík
                  </a> 
               </h3>
            </div>
            <div class="top-players__num">13</div>
         </div>
         <a href="#" class="link">Všechny statistiky</a>
      </div>
   </div>
   <div class="col-12 col-lg-6 col-xl-4 mb-10">
      <div class="c-statistics-section__calendar">
         <h2 class="h3">Kalendář</h2>
         {% include "@components/calendar/calendar.twig" %}
         <a href="#" class="link">celý kalendář</a>
      </div>
   </div>
</div>