<section class="c-posts-section col-xl-8">
   <h1 class="h1 mb-md-8 mb-4">AKTUALITY</h1>
   <div class="row g-6">
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pe-5 ps-5 c-hp-posts-section__col">
         {% include "@components/post-article/post-article.twig" %}
      </div>
   </div>
</section>