
.c-post-article{
  &__item{
    margin-bottom: 20px;
    width: 100%;
    display: block;
    &:hover{
       img{
          transform: scale(1.1);
       }
       .h3{
          text-decoration-color: var(--color-dark);
       }
    }
  }
  .h3{
    max-width: 555px;
    margin: 0 auto 6px;
    color: var(--color-dark);
    line-height: 120%;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
  }
  span{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-blue-grey);
  }
  &__img{
    margin-bottom: 26px;
    max-height: 380px;
    overflow: hidden;
    img{
       height: auto;
       display: block;
       transition: all .3s;
       width: 100%;
    }
  }
}
