<section class="partners-section  pt-10 col-xl-8"> 
   <div class="mb-8">
      <h1 class="h1">
         Hlavní partneři
      </h1>
   </div>
   <ul class="row g-5 g-md-10 mb-10">
      <li class="col-sm-6 cl-12">
         <a target="_blank" href="#">
            <img src="https://via.placeholder.com/450x200" loading="lazy" alt="" />
         </a>
      </li>
      <li class="col-sm-6 cl-12">
         <a target="_blank" href="#">
          <img src="https://via.placeholder.com/450x200" loading="lazy" alt="" />
         </a>
      </li>
   </ul>
   <div class="mb-8">
       <h2 class="h2">
         Partneři
      </h2>
   </div>
   <ul class="row g-5">
      <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
            <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
       <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
           <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
       <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
            <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
      <li class=" col-sm-4 cl-12">
         <a target="_blank" href="#">
              <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
       <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
             <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
      <li class=" col-sm-4 cl-12">
         <a target="_blank" href="#">
            <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
      <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
            <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
       <li class="  col-sm-4 cl-12">
         <a target="_blank" href="#">
             <img src="https://via.placeholder.com/280x140" loading="lazy" alt="" />
         </a>
      </li>
   </ul>
</section>