<section class="c-table-section  pt-10 col-xl-8"> 
   <h1 class="h1 mb-md-8 mb-4">
      Tabulka
   </h1>
   <form action="" class="menu__form mb-6">
      <label class="o-select menu-section__label">
         <select class="js-select">
            <option>2021/22</option>
            <option value="">2020/21</option>
            <option value="">2019/20</option>
            <option value="">2018/19</option>
            <option value="">2017/18</option>
         </select>
      </label>
   </form>
   <div class="o-content">
      <table>
         <thead>
            <tr>
               <th><a href="#">P.</a></th>
               <th><a href="#">Tým</a></th>
               <th><a href="#">Z</a></th>
               <th><a href="#">V</a></th>
               <th><a href="#">VP</a></th>
               <th><a href="#">PP</a></th>
               <th><a href="#">P</a></th>
               <th><a href="#">B</a></th>
               <th><a href="#">Skóre</a></th>
               <th><a href="#">RG</a></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr class="team">
               <td>5.</td>
               <td>HBC Hradec Králové</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            <tr>
               <td>1.</td>
               <td>HC Kert Park Praha</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>44</td>
               <td>113:60</td>
               <td>44</td>
            </tr>
            
         </tbody>
      </table>
   </div>
</section>