<header class="header">
   <div class="header__top">
      <div class="container">
         <div class="header__top-row">
             <a class="header__logo" href="">
               <img src="images/content/logo.png"  loading="lazy" alt="logo" />
            </a>
            <div class="header__title h2">
               hbc hradec králové 1988
               <span>hbc hradec králové 1988</span>
            </div>
            {% include "@components/social/social.twig" %}
            <button class="c-header__opener js-header__opener" type="button">
               <span></span>
            </button>
         </div>
      </div>   
   </div>
   <div class="header__bottom">
      <div class="container">
         <div class="header__bottom-row">
            <nav class="navbar">
               <ul class="navbar__menu">
                  <li class="navbar__menu-list">
                     <div class="navbar__menu-item">
                        Klub
                     </div>
                     <ul class="dropdown-menu">
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                     </ul>
                  </li>
                  <li class="navbar__menu-list">
                     <div class="navbar__menu-item">
                        A-tým
                     </div>
                     <ul class="dropdown-menu">
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                     </ul>
                  </li>
                  <li class="navbar__menu-list">
                     <div class="navbar__menu-item">
                        zápasy
                     </div>
                     <ul class="dropdown-menu">
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                     </ul>
                  </li>
                  <li class="navbar__menu-list">
                     <div class="navbar__menu-item">
                        mládež
                     </div>
                     <ul class="dropdown-menu">
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                        <li class="dropdown-menu__list">
                           <a href="#">Lorem, ipsum dolor.</a>
                        </li>
                     </ul>
                  </li>
                  <li class="navbar__menu-list">
                     <a href="#" class="navbar__menu-item">
                        fanshop
                     </a>
                  </li>
                  <li class="navbar__menu-list">
                     <a href="#" class="navbar__menu-item">
                        partneři
                     </a>
                  </li>
                  <li class="navbar__menu-list">
                     <a href="#" class="navbar__menu-item">
                        rozpis tréninků
                     </a>
                  </li>
               </ul>  
            </nav>
            <div class="header__search">
               <form class="search" method="get">
                  <input type="text" class="search-input" placeholder="Vyhledat">
                  <button class="search-btn"></button>
               </form>
            </div>
         </div>
      </div>
   </div>
</header>
