<div class="eventCalendar">
  <div class="card">
    <div class="card-body p-0">
      <div id="calendar"></div>
      <ul class="calendar-descr">
         <li class="calendar-descr__old">A-tým</li>
         <li class="calendar-descr__juniors">mládež</li>
      </ul>
    </div>
  </div>
</div>





