:root {
  --color-bg: #000;
  --color-bg-opacity-2:rgba(255, 255, 255, 0.2);
  --color-title: #fefb01;
  --color-social: #fefb01;
  --color-decor: rgba(254, 251, 1, .5);
  --color-footer: #fefb01;

  --color-slate-grey: #5e6673;
  --color-light: #fff;
  --color-dark: #000;
  --color-dark-opacity-1: rgba(255, 255, 255, 0.1);
  --color-dark-opacity-2: rgba(255, 255, 255, 0.2);
  --color-blue-grey: #8b96a6;
  --color-pale-grey:#f1f3f6;
  --color-silver: #dee2e6;
  --color-green:#00cb25;
  --color-red:#cb0000;
  --color-text-team: #cb0000;
  --color-army-green: #2b220d;
  --color-eggplant: #0d0718;
}

.theme-blue{
  --color-bg: #4d81bf;
  --color-title: #fff;
  --color-social: #b4e2ff;
  --color-decor: rgba(132, 195, 235, .5);
  --color-bg-opacity-2:rgba(132, 195, 235, 0.2);
  --color-text-team: #619cd3;
  --color-footer: #84c3eb;

}