{% extends "@components/base/base.twig" %}
   {% set title = "04.0_soupiska" %}
     {% block main %}
      <div class="container">
        <div class="row">
          {% include "@components/team-section/team-section.twig" %}
          {% include "@components/aside/aside.twig" %}
        </div>
      </div>
   {% include "@components/partners-slider/partners-slider.twig" %}
{% endblock %}
