{% extends "@components/base/base.twig" %}
   {% set title = "05.0_zapasy" %}
     {% block main %}
     <div class="container">
        <div class="row">
          {% include "@components/matches-section/matches-section.twig" %}
          {% include "@components/aside/aside.twig" %}
        </div>
      </div>
      {% include "@components/partners-slider/partners-slider.twig" %}
{% endblock %}
