{% extends "@components/base/base.twig" %}
   {% set title = "06.0_table" %}
     {% block main %}
     <div class="container">
        <div class="row">
          {% include "@components/table-section/table-section.twig" %}
          {% include "@components/aside/aside.twig" %}
        </div>
      </div>
      {% include "@components/partners-slider/partners-slider.twig" %}
{% endblock %}
