{% extends "@components/base/base.twig" %}

   {% set title = "04.0_Partneři" %}

   {% block main %}
      <div class="container">
        <div class="row">
            {% include "@components/partners-section/partners-section.twig" %}
            {% include "@components/aside/aside.twig" %}
        </div>
      </div>
   {% endblock %}