<section class="c-topstory-section mt-5 mt-xl-10 mb-6">
   <div class="container">
      <div class="row">
         <div class="col-12 col-md-6 mb-4">
            {% include "@components/post-article/post-article.twig" %}
         </div>
         <div class="col-12 col-md-6 mb-4">
            {% include "@components/post-article/post-article.twig" %}
         </div>
      </div>
   </div>
</section>