<section class="topstory mt-5 mt-xl-10 mb-6">
   <div class="container">
      <div class="row">
         <div class="col-12 col-md-6 mb-4">
            <a href="#" class="topstory__item">
               <div class="topstory__img">
                  <img src="https://via.placeholder.com/699x380" loading="lazy" alt="">
               </div>
               <h2 class="h3">
                  Hradec v Lize mužů válí. Moc rád by obhájil loňský titul, přeje se Martin Landa
               </h2>
               <span>21. 12. 2021</span>
            </a>
         </div>
         <div class="col-12 col-md-6 mb-4">
            <a href="#" class="topstory__item">
               <div class="topstory__img">
                  <img src="https://via.placeholder.com/699x380" loading="lazy" alt="">
               </div>
               <h2 class="h3">
                  První hokejbalová aplikace je na světě. Najdete tam i náš klub a jeho výsledky.
               </h2>
               <span>21. 12. 2021</span>
            </a>
         </div>
      </div>
   </div>
</section>