<section class="c-gallery-section ">
   <h1 class="h1 mb-md-8 mb-4">
      Fotogalerie
   </h1>
   <form action="" class="menu__form mb-6">
      <label class="o-select menu-section__label">
         <select class="js-select">
            <option>2021/22</option>
            <option value="">2020/21</option>
            <option value="">2019/20</option>
            <option value="">2018/19</option>
            <option value="">2017/18</option>
         </select>
      </label>
   </form>
   <div class="c-gallery-section__inner mb-5 mb-md-10">
      <div class="row g-5 js-gallery">
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/1-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
         <div class="col-lg-4 col-sm-6 ">
            <figure>
               <a data-gallery="1" data-gallery-id="1"  href="#">
                  <div class="c-gallery-section__img">
                  <img src="images/content/2-top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="photogallery-section__info">
                     <h2 class="h3">
                        Slezský FC Opava obhájil statuty SCM a SpSM
                     </h2>
                     <span>16. 12. 2021</span>
                  </div>
               </a>
            </figure>
         </div>
      </div>
   </div>
</section>